@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-weight: 900;
  font-style: normal;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-Bold.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-weight: 900;
  font-style: italic;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-Italic.otf") format("opentype");
}

/* Your own custom utilities */
.loading-screen {
  @apply flex h-screen w-screen;
}

.loading-icon {
  margin: auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-icon:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: loading-icon 1.2s infinite;
}

@keyframes loading-icon {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.fab-button {
  @apply border rounded-xl ring-4 py-4 cursor-pointer bg-white text-primary ring-primary hover:text-primary-dark hover:ring-primary-dark disabled:pointer-events-none disabled:bg-gray-300 disabled:text-gray-400 disabled:ring-gray-400;
}

.fab-button__secondary {
  @apply border rounded-xl ring-4 py-4 cursor-pointer bg-white text-secondary ring-secondary hover:text-secondary-dark hover:ring-secondary-dark disabled:pointer-events-none disabled:bg-gray-300 disabled:text-gray-400 disabled:ring-gray-400;
}

.icon-button-small-white {
  @apply p-2 sm:p-4 text-white hover:text-red-100;
}

.square-button {
  @apply text-xl shadow-md py-8 cursor-pointer bg-tertiary-dark text-white w-full hover:shadow-lg hover:bg-tertiary active:bg-tertiary-light disabled:pointer-events-none disabled:bg-gray-300 disabled:shadow-none;
}

.dialog__title--has-actions {
  @apply flex items-center text-lg font-bold py-1 px-2 bg-primary-light shadow-md;
}

.dialog-action__body {
  @apply px-6 pt-6 flex-grow overflow-y-scroll;
}

.dialog-action__title {
  @apply text-4xl text-center tracking-wide font-black w-full mb-2;
}

.dialog-action__button {
  @apply w-full mt-2 border rounded-xl ring-4 py-4 cursor-pointer bg-white disabled:pointer-events-none disabled:bg-gray-300 disabled:text-gray-400 disabled:ring-gray-400;
}

.dialog-action__ok-button {
  @apply dialog-action__button text-primary ring-primary hover:text-primary-dark hover:ring-primary-dark;
}

.dialog-action__second-button {
  @apply dialog-action__button text-secondary ring-secondary hover:text-secondary-dark hover:ring-secondary-dark;
}

.dialog-action__cancel-button {
  @apply dialog-action__button text-tertiary ring-tertiary hover:text-tertiary-dark hover:ring-tertiary-dark;
}

.dialog__footer--actions-right {
  @apply grid grid-cols-right bg-gray-100;
}

.dialog__footer--actions-full {
  @apply flex bg-gray-100;
}

.dialog__footer--actions-center {
  @apply grid grid-cols-2;
}

.dialog__footer-buttons--cancel {
  @apply p-2 text-lg bg-tertiary w-full hover:bg-tertiary-dark disabled:bg-gray-200 disabled:text-gray-300 disabled:cursor-default;
}

.dialog__footer-buttons--secondary {
  @apply p-2 text-lg bg-secondary w-full hover:bg-secondary-dark font-bold disabled:bg-gray-200 disabled:text-gray-300 disabled:cursor-default;
}

.dialog__footer-buttons--quarternary {
  @apply p-2 text-lg bg-quarternary w-full hover:bg-quarternary-dark font-bold disabled:bg-gray-200 disabled:text-gray-300 disabled:cursor-default;
}

.dialog__footer-buttons--ok {
  @apply p-2 text-lg bg-primary w-full hover:bg-primary-dark font-bold disabled:bg-gray-200 disabled:text-gray-300 disabled:cursor-default;
}

.stock-indicator__container {
  @apply flex items-center;
}

.stock-indicator__number {
  @apply ml-5 my-1 rounded-full h-8 w-8 flex items-center justify-center shadow-inner;
}

.input-label {
  @apply transition-all px-1 text-xs mt-2 mb-2;
}

.radio-button__container {
  /* @apply block relative pl-4 mb-2 cursor-pointer font-lg select-none */
  @apply flex;
}

.radio-button__input {
  /* @apply absolute opacity-0 cursor-pointer h-0 w-0 */
  @apply mr-2 text-lg;
}

.radio-button__label {
  @apply flex pr-6;
}

.radio-button__checkmark {
  /* @apply absolute top-0 left-0 h-12 w-12 bg-gray-200 */
}

.table-div {
  @apply h-full p-3 bg-white w-full;
}
