@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-weight: 900;
  font-style: normal;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-Bold.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-weight: 900;
  font-style: italic;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-Italic.otf") format("opentype");
}

/* Your own custom utilities */
.loading-screen {
  @apply flex h-screen w-screen;
}

.loading-icon {
  margin: auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-icon:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: loading-icon 1.2s infinite;
}

@keyframes loading-icon {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.fab-button {
  @apply border rounded-xl ring-4 py-4 cursor-pointer bg-white text-primary ring-primary hover:text-primary-dark hover:ring-primary-dark disabled:pointer-events-none disabled:bg-gray-300 disabled:text-gray-400 disabled:ring-gray-400;
}

.fab-button__secondary {
  @apply border rounded-xl ring-4 py-4 cursor-pointer bg-white text-secondary ring-secondary hover:text-secondary-dark hover:ring-secondary-dark disabled:pointer-events-none disabled:bg-gray-300 disabled:text-gray-400 disabled:ring-gray-400;
}

.icon-button-small-white {
  @apply p-4 text-white hover:text-red-100;
}

.square-button {
  @apply text-xl shadow-md py-8 cursor-pointer bg-tertiary-dark text-white w-full hover:shadow-lg hover:bg-tertiary disabled:pointer-events-none disabled:bg-gray-300 disabled:shadow-none;
}
