@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* @font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-weight: 900;
  font-style: normal;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-Bold.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-weight: 900;
  font-style: italic;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  src: local("OpenDyslexic"),
    url("/font/OpenDyslexic-Italic.otf") format("opentype");
} */

/* Your own custom utilities */
.loading-screen {
  @apply flex h-main w-board;
}

.loading-icon {
  margin: auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-icon:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: loading-icon 1.2s infinite;
}

@keyframes loading-icon {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.icon-text-button {
  @apply flex justify-between items-center text-sm rounded py-1 px-2 m-1 whitespace-nowrap cursor-pointer bg-brown-dark text-white hover:bg-brown disabled:pointer-events-none disabled:bg-gray-300;
}

.fab-button {
  @apply border rounded-xl ring-4 py-4 cursor-pointer bg-white text-primary ring-primary hover:text-primary-dark hover:ring-primary-dark disabled:pointer-events-none disabled:bg-gray-300 disabled:text-gray-400 disabled:ring-gray-400;
}

.fab-button__secondary {
  @apply border rounded-xl ring-4 py-4 cursor-pointer bg-white text-secondary ring-secondary hover:text-secondary-dark hover:ring-secondary-dark disabled:pointer-events-none disabled:bg-gray-300 disabled:text-gray-400 disabled:ring-gray-400;
}

.icon-button-small-white {
  @apply p-1 sm:p-2 text-black hover:text-blue-500 disabled:text-gray-500 disabled:pointer-events-none;
}

.square-button {
  @apply text-xl py-8 cursor-pointer text-white w-full disabled:pointer-events-none disabled:bg-gray-300 border border-gray-100 shadow-md rounded-md;
}

.tertiary-button {
  @apply bg-tertiary-dark hover:bg-tertiary active:bg-tertiary-light;
}

.secondary-button {
  @apply bg-secondary-dark hover:bg-secondary active:bg-secondary-light;
}

.dialog__footer--actions-right {
  @apply grid grid-cols-right bg-gray-100;
}

.dialog__footer--actions-full {
  @apply flex bg-gray-100;
}

.dialog__footer--actions-center {
  @apply grid grid-cols-2;
}

.stock-indicator__container {
  @apply flex items-center;
}

.stock-indicator__number {
  @apply ml-5 my-1 rounded-full h-8 w-8 flex items-center justify-center;
}

.input-label {
  @apply transition-all px-1 text-xs mt-2 mb-2;
}

.radio-button__container {
  /* @apply block relative pl-4 mb-2 cursor-pointer font-lg select-none */
  @apply flex;
}

.radio-button__input {
  /* @apply absolute opacity-0 cursor-pointer h-0 w-0 */
  @apply mr-2 text-lg;
}

.radio-button__label {
  @apply flex pr-6;
}

.radio-button__checkmark {
  /* @apply absolute top-0 left-0 h-12 w-12 bg-gray-200 */
}

.table-div {
  @apply h-full p-3 bg-white w-full;
}

/* Modal Container */
.modal__close-button-div {
  @apply flex bg-black;
}

.modal__close-button {
  @apply p-2 text-white hover:text-gray-200 outline-none border-none mb-0 pb-0;
}

.modal__title-div {
  @apply top-0 sticky flex justify-between items-start border-b border-gray-200 shadow-sm bg-primary text-white px-2;
}

.modal__title {
  @apply text-4xl font-extrabold py-4;
}

.modal__body {
  @apply px-6 pt-6 flex-grow overflow-y-scroll max-h-dialog;
}

.modal__button-div {
  @apply grid grid-cols-2 gap-4;
}

.modal__button {
  @apply w-full flex justify-center items-center border rounded-xl ring-4 py-4 cursor-pointer bg-white disabled:pointer-events-none disabled:bg-gray-300 disabled:text-gray-400 disabled:ring-gray-400;
}

.modal__button--ok {
  @apply modal__button text-primary ring-primary hover:text-primary-dark hover:ring-primary-dark;
}

.modal__button--alt1 {
  @apply modal__button text-secondary ring-secondary hover:text-secondary-dark hover:ring-secondary-dark;
}

.modal__button--alt2 {
  @apply modal__button text-quarternary ring-quarternary hover:text-quarternary-dark hover:ring-quarternary-dark;
}

.modal__button--alt3 {
  @apply modal__button text-primary ring-primary hover:text-primary-dark hover:ring-primary-dark;
}

.modal__button--cancel {
  @apply modal__button text-tertiary ring-tertiary hover:text-tertiary-dark hover:ring-tertiary-dark;
}

/* Screen Container  */

.screen__content {
  @apply bg-white h-main flex flex-col;
}

.screen__title {
  @apply flex items-center text-lg font-bold py-1 px-2;
}

.screen__back-button {
  @apply pr-2 text-black hover:text-gray-800;
}

.screen__body {
  @apply flex items-start overflow-y-scroll px-6 pt-6 flex-grow;
}

.screen__button-div {
  @apply flex w-full justify-end bg-gray-100;
}

.screen__button {
  @apply p-2 text-lg w-1/5 font-bold disabled:bg-gray-200 disabled:text-gray-300 disabled:cursor-default;
}

.screen__button--ok {
  @apply screen__button bg-primary hover:bg-primary-dark disabled:bg-gray-200;
}

.screen__button--cancel {
  @apply screen__button bg-tertiary hover:bg-tertiary-dark disabled:bg-gray-200;
}

.screen__button--alt1 {
  @apply screen__button bg-secondary hover:bg-secondary-dark disabled:bg-gray-200;
}

.screen__button--alt2 {
  @apply screen__button bg-quarternary hover:bg-quarternary-dark disabled:bg-gray-200;
}

.screen__button--alt3 {
  @apply screen__button bg-primary hover:bg-primary-dark disabled:bg-gray-200;
}

.help-text {
  @apply text-sm text-brown italic my-2;
}

.list-item {
  @apply flex w-full mb-2 text-black shadow-sm border mr-4 rounded-md;
}
